.form .btns button.btns__edit {
    width: 120px;
    height: 60px;
    font-size: 16px;
    margin-bottom: 30px;
    border: solid rgb(255, 166, 0);
    border-radius: 5px;
    background: rgb(255, 166, 0);
    color: #fff;
    font-weight: 600;
    text-shadow: 0 0 5px #000;
    letter-spacing: 1px;
}